@import "const";
.button4_link{
  text-decoration: none;
  padding-top: 10px;

}
.button4_block{
  position: relative;
  box-sizing: border-box;
  border-radius: 236px;
  margin: 0 auto;
  border: 1px solid $main-color1;
  background: none;
  cursor: pointer;
  transition: all .5s;
  z-index: 0;
}
.button4_block:hover{
  box-shadow: 0 4px 12px 0 #0000004D;
  transition: all .5s;
}
.button_4_rotate{
  background: $main-color4;
  position: absolute;
  transform: rotate(-5deg);
  box-sizing: border-box;
  border-radius: 236px;
  border: 2px solid $main-color1;
  transition: all .5s;
  z-index: 1;
}
.button4_block:hover .button_4_rotate{
  transform: rotate(0deg);
  transition: all .5s;
}
.button4_text{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%) scale(1);
  font-family: $font-family4;
  font-weight: 700;
  line-height: 15px;
  color: $main-color1;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all .5s;
  z-index: 2;
}
.button4_block:hover .button4_text{
  transform:translate(-50%, -50%) scale(1.05);
  transition: all .5s;
}

@media (min-width: 320px) {
  .button4_block{
    width: 166px;
    height: 40px;
  }
  .button_4_rotate{
    width: 166px;
    height: 40px;

  }
  .button4_text{
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .button4_block{
    width: 200px;
    height: 50px;

  }
  .button_4_rotate{
    width: 200px;
    height: 50px;

  }
  .button4_text{
    font-size: 14px;
  }
}
@media (min-width: 1210px) {
  .button4_block{
    width: 260px;
    height: 65px;

  }
  .button_4_rotate{
    width: 260px;
    height: 65px;

  }
  .button4_text{
    font-size: 15px;
  }
}
