@import "const";
.button2_block{
  position: relative;
  box-sizing: border-box;
  border-radius: 236px;
  height: 65px;
  margin: 0 auto;
  width: 410px;
  border: 1px solid $main-color5;
  background: none;
}
.button_2_rotate{
  position: absolute;
  transform: rotate(-5deg);
  box-sizing: border-box;
  border-radius: 236px;
  height: 65px;
  width: 410px;
  border: 2px solid $main-color5;
  background: none;
}
.button2_text{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  font-family: $font-family2;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  color: $main-color5;
  text-transform: uppercase;
  white-space: nowrap;
}