$main-color1: #046A38;
$main-color2: #E8E4E0;
$main-color3: #82A374;
$main-color4: #FFFFFF;
$main-color5: #613A19;
$main-color6: #191919;
$main-color7: #ECCF81;
$main-color7: #000000;


$font-family1: "Cormorant Garamond";
$font-family2: "Josefin Sans";
