$main-color1: #046A38;
$main-color2: #E8E4E0;
$main-color3: #82A374;
$main-color4: #FFFFFF;
$main-color5: #613A19;
$main-color6: #191919;
$main-color7: #ECCF81;
$main-color8: #000000;
$main-color9: #333333;
$main-color10: #86898F;
$main-color11: #F2F2F2;
$main-color12: #848484;




$font-family1: "Cormorant Garamond";
$font-family2: "Josefin Sans";
$font-family3: "Roboto";
$font-family4: "Lora";
$font-family5: "Onest";



@media (min-width: 320px) {

}
@media (min-width: 410px) {

}
@media (min-width: 510px) {

}
@media (min-width: 610px) {

}
@media (min-width: 710px) {

}
@media (min-width: 768px) {
}
@media (min-width: 810px) {

}
@media (min-width: 910px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1010px) {

}
@media (min-width: 1110px) {

}
@media (min-width: 1210px) {

}
@media (min-width: 1440px) {

}
@media (min-width: 1810px) {

}
@media (min-width: 1920px) {

}