@font-face {
                                font-family: CormorantGaramond-Italic;
                                font-display: swap;
                                src: url("../fonts/CormorantGaramond-Italic.woff2") format("woff2"), url("../fonts/CormorantGaramond-Italic.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: CormorantGaramond-BoldItalic;
                                font-display: swap;
                                src: url("../fonts/CormorantGaramond-BoldItalic.woff2") format("woff2"), url("../fonts/CormorantGaramond-BoldItalic.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: CormorantGaramond-Light;
                                font-display: swap;
                                src: url("../fonts/CormorantGaramond-Light.woff2") format("woff2"), url("../fonts/CormorantGaramond-Light.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: CormorantGaramond-LightItalic;
                                font-display: swap;
                                src: url("../fonts/CormorantGaramond-LightItalic.woff2") format("woff2"), url("../fonts/CormorantGaramond-LightItalic.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: CormorantGaramond-Bold;
                                font-display: swap;
                                src: url("../fonts/CormorantGaramond-Bold.woff2") format("woff2"), url("../fonts/CormorantGaramond-Bold.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: CormorantGaramond-Medium;
                                font-display: swap;
                                src: url("../fonts/CormorantGaramond-Medium.woff2") format("woff2"), url("../fonts/CormorantGaramond-Medium.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: CormorantGaramond-Regular;
                                font-display: swap;
                                src: url("../fonts/CormorantGaramond-Regular.woff2") format("woff2"), url("../fonts/CormorantGaramond-Regular.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: CormorantGaramond-SemiBold;
                                font-display: swap;
                                src: url("../fonts/CormorantGaramond-SemiBold.woff2") format("woff2"), url("../fonts/CormorantGaramond-SemiBold.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: CormorantGaramond-MediumItalic;
                                font-display: swap;
                                src: url("../fonts/CormorantGaramond-MediumItalic.woff2") format("woff2"), url("../fonts/CormorantGaramond-MediumItalic.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: CormorantGaramond-SemiBoldItalic;
                                font-display: swap;
                                src: url("../fonts/CormorantGaramond-SemiBoldItalic.woff2") format("woff2"), url("../fonts/CormorantGaramond-SemiBoldItalic.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: JosefinSans-BoldItalic;
                                font-display: swap;
                                src: url("../fonts/JosefinSans-BoldItalic.woff2") format("woff2"), url("../fonts/JosefinSans-BoldItalic.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: JosefinSans-Bold;
                                font-display: swap;
                                src: url("../fonts/JosefinSans-Bold.woff2") format("woff2"), url("../fonts/JosefinSans-Bold.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: JosefinSans-ExtraLight;
                                font-display: swap;
                                src: url("../fonts/JosefinSans-ExtraLight.woff2") format("woff2"), url("../fonts/JosefinSans-ExtraLight.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: JosefinSans-ExtraLightItalic;
                                font-display: swap;
                                src: url("../fonts/JosefinSans-ExtraLightItalic.woff2") format("woff2"), url("../fonts/JosefinSans-ExtraLightItalic.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: JosefinSans-Italic;
                                font-display: swap;
                                src: url("../fonts/JosefinSans-Italic.woff2") format("woff2"), url("../fonts/JosefinSans-Italic.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: JosefinSans-Light;
                                font-display: swap;
                                src: url("../fonts/JosefinSans-Light.woff2") format("woff2"), url("../fonts/JosefinSans-Light.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: JosefinSans-LightItalic;
                                font-display: swap;
                                src: url("../fonts/JosefinSans-LightItalic.woff2") format("woff2"), url("../fonts/JosefinSans-LightItalic.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: JosefinSans-Medium;
                                font-display: swap;
                                src: url("../fonts/JosefinSans-Medium.woff2") format("woff2"), url("../fonts/JosefinSans-Medium.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: JosefinSans-MediumItalic;
                                font-display: swap;
                                src: url("../fonts/JosefinSans-MediumItalic.woff2") format("woff2"), url("../fonts/JosefinSans-MediumItalic.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: JosefinSans-Regular;
                                font-display: swap;
                                src: url("../fonts/JosefinSans-Regular.woff2") format("woff2"), url("../fonts/JosefinSans-Regular.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: JosefinSans-SemiBold;
                                font-display: swap;
                                src: url("../fonts/JosefinSans-SemiBold.woff2") format("woff2"), url("../fonts/JosefinSans-SemiBold.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: JosefinSans-SemiBoldItalic;
                                font-display: swap;
                                src: url("../fonts/JosefinSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/JosefinSans-SemiBoldItalic.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: JosefinSans-Thin;
                                font-display: swap;
                                src: url("../fonts/JosefinSans-Thin.woff2") format("woff2"), url("../fonts/JosefinSans-Thin.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
@font-face {
                                font-family: JosefinSans-ThinItalic;
                                font-display: swap;
                                src: url("../fonts/JosefinSans-ThinItalic.woff2") format("woff2"), url("../fonts/JosefinSans-ThinItalic.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                                }
