@import "const";
.modal {
  z-index: 999;
  height: 100vh;
  width: 100vw;
  background:url("../img/modal.jpg") no-repeat center, linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, rgba(0, 110, 255, 0.2), rgba(0, 110, 255, 0.2)) ;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal-active{
  opacity: 1;
  pointer-events: all;
  overflow: hidden;
}
.modal__content {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05), 0 4px 14px rgba(0, 0, 0, 0.15);
  background: #fafbf6;
  box-sizing: border-box;
  position: relative;
  }
.modal_pos{
  display: flex;
}

.close_icon{
  position: absolute;
  cursor: pointer;
  transition: transform 0.5s;

}
.close_icon:hover{
  transform: scale(1.8);
  transition: transform 0.5s;
}
.input-form {
  background: none;
  width: 100%;
  box-sizing: border-box;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid $main-color9;
  margin-bottom: 15px;
  outline: none;
  font-family: $font-family4;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  padding-top: 6px;
  color: $main-color9;
}
.input-form::placeholder{
  color: $main-color3;
}
.input-form:focus::placeholder{
  opacity: 0.2;
}
.textarea-fixed {
  resize: none;
}
.input-form:focus {
  color: #434343;
}

.input-form-title{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #4e4e4e;
  opacity: 0.5;
  margin-bottom: 6px;
}
.main_hidden {
  overflow: hidden;
}
.btn_modal_pos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12px;
}
.btn_modal {
  padding: 10px 26px;
  border: none;
  border-radius: 3px;
  background: $main-color3;
  font-family: $font-family3;
  color: $main-color4;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.5s;
  cursor: pointer;
}
.btn_modal:hover{
  transition: all 0.5s;
  box-shadow: 0 4px 12px 0 #0000004D;
}
.title_text_modal{
  font-family: $font-family4;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  overflow: hidden;
  color: $main-color9;
}
.modal_block_title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 320px) {
  .modal__content {
    width: 300px;
  }
  .title_text_modal{
    margin-bottom: 30px;
  }
  .modal_pos{
    flex-direction: column-reverse;
  }
  .modal_text_block{
    padding: 24px 15px;
  }
  .close_icon{
    top: 20px;
    right: 20px;
  }
  .modal_img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .modal__content {
    border-radius: 20px;
  }
}
@media (min-width: 610px) {
  .modal__content {
    width: 500px;
  }
  .title_text_modal{
    margin-bottom: 40px;
  }
}
@media (min-width: 710px) {
}
@media (min-width: 768px) {
  .modal__content {
    width: 80vw;

  }
  .close_icon{
    top: 24px;
    left: 45%;
  }
  .title_text_modal{
    margin-bottom: 50px;
  }
  .modal_text_block{
    padding: 30px 30px;
  }
  .modal_pos{
    flex-direction: row;
  }
  .modal_img{
    max-width: 50%;
    border-top-left-radius: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }
  .modal__content {
    border-radius: 20px;
  }
}
@media (min-width: 810px) {
}
@media (min-width: 910px) {
}
@media (min-width: 992px) {

}
@media (min-width: 1010px) {

}
@media (min-width: 1200px) {
  .modal_text_block{
    padding: 70px 80px;
  }
}
@media (min-width: 1300px) {
  .modal_text_block{
    padding: 100px 110px;
  }
}
@media (min-width: 1400px) {
  .modal_text_block{
    padding: 100px 150px;
  }
}
@media (min-width: 1810px) {
}

