@import "const";

.ourphotos_background{
  padding: 60px 0;
}
.ourphotos_img_block{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;

}
.ourphotos_img{
  width: 330px;
  height: auto;
  border-radius: 15px;
}